<section @widgetsPopIn>
  <div class="widget">
    <div class="widget__header">
      <h1>Semgrep Findings</h1>
      <a routerLink="/vulnerabilities" routerLinkActive="active">
        <i class="fa-solid fa-arrow-up"></i>
      </a>
    </div>
    <div class="widget__content semgrep">
      <apx-chart
        [series]="severitySeries()"
        [labels]="severityLabels"
        [chart]="chart"
        [colors]="colors"
        [dataLabels]="dataLabels"
        [plotOptions]="plotOptions"
        [stroke]="stroke"
        [legend]="legend"
        [tooltip]="tooltip"
        [responsive]="responsive"
      ></apx-chart>

      <apx-chart
        [series]="barSeries()"
        [chart]="barChart"
        [colors]="barColors"
        [plotOptions]="barPlot"
        [fill]="barFill"
        [stroke]="barStroke"
        [tooltip]="barTooltip"
      ></apx-chart>
    </div>
  </div>

  <div class="widget">
    <div class="widget__header">
      <h1>Vanta Compliance</h1>
      <a routerLink="/compliances" routerLinkActive="active">
        <i class="fa-solid fa-arrow-up"></i>
      </a>
    </div>
    <div class="widget__content">
      <apx-chart
        [series]="vantaSeries()"
        [chart]="vantaChart"
        [plotOptions]="vantaPlot"
        [colors]="vantaColors"
        [dataLabels]="vantaDataLabels"
        [xaxis]="vantaXaxis()"
        [yaxis]="vantaYaxis"
        [tooltip]="vantaTooltip"
      ></apx-chart>
    </div>
  </div>

  <div class="widget">
    <div class="widget__header">
      <h1>Harness CI/CD</h1>
      <a routerLink="/pipelines" routerLinkActive="active">
        <i class="fa-solid fa-arrow-up"></i>
      </a>
    </div>
    <div class="widget__content">
      <div class="widget__content harness">
        <!-- <pre class="code-block"
          >{{ store.byTool("harness")()[0]?.location?.snippet }}
    </pre
        > -->
      </div>
    </div>
  </div>

  <div class="widget">
    <div class="widget__header">
      <h1>Risk Score/Trend</h1>
    </div>
    <div class="widget__content">Details...</div>
  </div>

  <div class="widget wide">
    <div class="widget__header">
      <h1>Remediation Queue</h1>
    </div>
    <div class="widget__content">Details...</div>
  </div>
</section>
