.hdr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999;
  font-size: 14px;
  font-weight: 300;
}

.brand {
  height: 57px;
  box-sizing: border-box;
  padding: 0px 20px;
  border-radius: 40px;
  border: 1.5px rgb(189, 189, 189) solid;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.main {
  display: flex;
  gap: 10px;
  padding-top: 90px;
}

.menubar {
  display: flex;
  align-content: center;
  border-radius: 40px;
  padding: 5px;
  background-color: var(--panel-bg);

  a {
    border-radius: 30px;
    padding: 15px 20px;
    text-decoration: none;

    // inactive
    background-color: transparent;
    color: var(--slate-500);
    border-color: transparent;

    &.active {
      background-color: var(--fg);
      color: var(--fg-inverted);
    }
  }
}

.page-container {
  width: 100%;
  max-height: calc(100dvh - 197px);
}

.ai-chatbox {
  width: 600px;
  background-color: var(--panel-bg-inverted);
  border-radius: 40px;
  max-height: calc(100dvh - 197px);
  overflow-y: hidden;
}
