<header class="hdr">
  <a routerLink="/" class="brand">AI Sec Dashboard</a>
</header>
<main class="main">
  <div role="navigation" class="menubar">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fa-solid fa-house"></i>
      Dashboard
    </a>
    <a routerLink="/account" routerLinkActive="active">
      <i class="fa-solid fa-user"></i>
      Rules
    </a>
    <!-- more items, dropdowns, etc. -->
  </div>
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
</main>
