@import "../styles/tokens.scss";

.hdr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 999;
  font-size: 14px;
  font-weight: 300;
}

.brand {
  height: 57px;
  box-sizing: border-box;
  padding: 0px 20px;
  border-radius: 40px;
  border: $border;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.repo-controls {
  height: 57px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  background-color: var(--panel-bg);
  padding: 5px;
  gap: 5px;

  i {
    align-content: center;
    font-size: 25px;
  }

  .repo-link {
    padding: 0px 15px 0 10px;
    border-radius: 40px;
    border: $border;
    font-weight: 300;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  button {
    background-color: var(--fg);
    color: var(--fg-inverted);
    border: none;
    padding: 0 20px;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;
  }
}

.main {
  display: flex;
  gap: 5px;
  padding-top: 110px;
}

.menubar {
  display: flex;
  align-content: center;
  border-radius: 40px;
  padding: 5px;
  background-color: var(--panel-bg);

  a {
    border-radius: 30px;
    padding: 15px 20px;
    text-decoration: none;

    // inactive
    background-color: transparent;
    border-color: transparent;

    &.active {
      background-color: var(--fg);
      color: var(--fg-inverted);
    }
  }
}

.page-container {
  width: 100%;
  min-height: calc(100dvh - 151px);
  max-height: calc(100dvh - 151px);
}

.ai-chatbox {
  min-width: 500px;
  max-width: 500px;
  background-color: var(--panel-bg-inverted);
  border-radius: 40px;
  min-height: calc(100dvh - 151px);
  max-height: calc(100dvh - 151px);
  overflow-y: hidden;
}
